* {
    box-sizing: border-box;
}

:root {
    --font-heading: Sen, sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ================ COMMON================= */
a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px;
    border-radius: 999px;
    background: #171100;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

/* ================ HEADER================= */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    position: relative;
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

.nav a:hover,
.nav li.active a {
    color: #171100;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    content: "";
    display: block;
    position: absolute;
    left: 21px;
    bottom: 6px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

/* ================ HERO================= */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

/* hero left */
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    /* vertical-align: bottom; */
    display: block;
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9e8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.8;
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.66;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero .stats {
    margin: 8px 0 0 -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
}

/* .hero .stats strong:first-child {
    margin-left: -28px;
} */

/* ================ POPULAR================= */

.popular {
    padding: 65px 0;
    margin: 135px;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.popular .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.66;
}

.popular .build {
    width: 458px;
}

.popular .controls {
    display: flex;
    gap: 18px;
}

.popular .controls-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--primary-color);
    border-radius: 999px;
    border: 1px var(--primary-color) solid;
    background: transparent;
}

.popular .controls-btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.popular .course-item:hover {
    border-radius: 12px;
    border-color: transparent;
    background: #fff;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .rating,
.popular .course-item .foot,
.popular .course-item .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .title a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular .course-item .value {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    line-height: 1.75;
}

.popular .course-item .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.popular .course-item .foot-btn {
    border: none;
}

.popular .course-item .foot-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

/* ================ FEEDBACK================= */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feed-list {
    display: flex;
    overflow: hidden;
}

.feed-items {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feed-items .title {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.feed-items .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.85;
}

.feed-items .dots {
    display: flex;
    margin-top: 28px;
}

.feed-items .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    margin-right: 6px;
    cursor: pointer;
}

.feed-items .dot.active {
    background: var(--primary-color);
    cursor: default;
}

.feed-items .main-content {
    width: 66%;
    margin-left: auto;
}

.feed-items blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.53;
}

/* ================ FEATURES================= */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features .images img:first-child {
    margin-top: 34px;
}

.features .main-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 41%;
}

.features .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75;
}

.features .main-content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background: var(--primary-color);
}

.features.second2 {
    margin-top: 70px;
}

.features.second2 .body {
    flex-direction: row-reverse;
}

.features.second2 .main-content {
    width: 49%;
}

.features.second2 img {
    width: 470px;
    height: 440px;
}

/* ================ BLOG================= */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}
.blog-top .desc {
    width: 448px;
    margin: 16px auto auto;
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog .blog-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
    overflow: hidden;
}

.blog-list .item {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    border-radius: 16px;
    background: #fff;
}

.blog-list .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-list .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-list .info {
    padding: 20px 20px 28px;
}

.blog-list .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #5f5b53;
    padding-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.85;
}

.blog-list .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    background: var(--primary-color);
    border-radius: 50%;
}

.blog-list .date::after {
    position: absolute;
    content: "";
    display: inline-block;
    right: -27px;
    height: 1px;
    left: 0;
    bottom: 0;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog-list .title a {
    display: inline-block;
    margin: 12px 0;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.blog-list .btn {
    font-size: 1.4rem;
}

.blog-list .btn:hover {
    background: var(--primary-color);
    color: #fff;
}

.blog .dots {
    display: flex;
    justify-content: center;
    margin-top: 38px;
    gap: 6px;
}

.blog .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
    cursor: pointer;
}

.blog .dot.active {
    cursor: default;
    background: var(--primary-color);
}

/* ================ FOOTER================= */
.footer {
    padding: 96px 135px 0;
    background: #2e2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 21.6%;
}

.footer .row .column:first-child {
    width: 35%;
}

.footer .column .desc {
    margin: 18px 0;
    max-width: 267px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.85;
}

.footer .social {
    display: flex;
    gap: 18px;
}

.footer .column .title {
    display: inline-block;
    border-bottom: 1px solid #59554b;
    padding: 0 48px 14px 0;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer .list {
    margin-top: 28px;
}

.footer .list a {
    display: inline-block;
    margin-bottom: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.85;
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .list strong {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.footer .copyright {
    padding: 28px 0;
}

.footer .copyright p {
    text-align: center;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.85;
}
